
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #6ebc1a; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2vh 2vw;
}

/* TÍTULO */
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 3vh;
  font-size: 10vh;
}


form {
  background: #ffffff;
  padding: 3vh 2vw;
  width: 50vw; 
  min-width: 30vw;
  border-radius: 1vw;
  box-shadow: 0 1vh 2vh rgba(0,0,0,0.1);
  border: 0.2vh solid #b2dfdb;
}

fieldset {
  margin-bottom: 2vh;
  padding: 2vh 1vw 1vh 1vw;
  border: 0.2vh solid #b2dfdb;
  border-radius: 0.8vw;
  background-color: #f1f8e9;
}

legend {
  display: block;
  font-weight: bold;
  color: #00796b;
  margin-bottom: 1.5vh;
  padding: 0 0.5vw;
  font-size: 2vh;
}

label {
  display: block;
  margin-bottom: 0.5vh;
  font-weight: bold;
  color: #004d40;
  font-size: 1.8vh;
}

span {
  display: block;
  font-size: 1.2vh;
  color: #666;
  margin-bottom: 0.5vh;
}

input,
select,
textarea {
  width: 100%;
  padding: 1.2vh 1vw;
  border: 0.2vh solid #b2dfdb;
  border-radius: 0.5vw;
  font-size: 1.7vh;
  margin-bottom: 1.5vh;
  transition: all 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #00796b;
  outline: 0.3vh solid #00796b33;
}


input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 0.5vw;
}


button {
  width: 100%;
  padding: 1.5vh 0;
  background: #092c01;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.8vw;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #99b882;
}