body {
  font-family: Arial, sans-serif;
  background: #6ebc1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 24px;
}

form {
  background: white;
  padding: 32px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-weight: bold;
  color: #004d40;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
}

input:focus,
select:focus {
  border-color: #00796b;
  outline: none;
}

.radio-grupo {
  display: flex;
  gap: 20px;
}

.radio-grupo label {
  font-weight: normal;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0;
}

.erro {
  color: red;
  font-size: 13px;
  display: none;
}

.erro.visivel {
  display: block;
}

button {
  margin-top: 20px;
  padding: 12px;
  background: #092c01;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #27500a;
}

#sucesso {
  display: none;
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* RESET VISUAL DOS FIELDSETS */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* LEGEND COMO SE FOSSE LABEL DE SEÇÃO */
legend {
  font-weight: bold;
  color: #004d40;
  margin-top: 16px;
  margin-bottom: 4px;
}

/* ESPAÇAMENTO ENTRE GRUPOS */
fieldset + fieldset {
  margin-top: 10px;
}